.Readbook {
    padding: 35px;

}


.Bookdetails {
    display: flex;
}

.Bookdetails img {


    padding: 8px 8px 18px 8px;
    background-color: aliceblue;

    margin: 0px 18px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px, rgba(0, 0, 0, 0.542) 0px -17px 100px -40px, rgba(0, 0, 0, 0.43) 0px -10px 0px inset;


}

.Bookdetails img:hover {
    transform: rotate(40);
}


.bookdesc {
    padding: 15px;
    font-size: 18px;

}

.boxshadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* background: url('../components/g.gif') no-repeat ; 
    background-size: cover; */
    background-color: white;
    font-weight: 500;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    padding: 25px;
}